:root {
    --primary-text: #dadada;
    --secondary-color: #e91b25;
}

body {
    background-color: #161616;
    font-family: 'Source Code Pro';
    font-size: larger;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

a{
    text-decoration: none;
    color: var(--primary-text);
    transition: color 0.3s ease-in-out;
}

a:hover{
    color: var(--secondary-color);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#searchbardiv {
    border-bottom-color: var(--primary-text);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 65%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: none;
    position: relative;
}

#searchbardiv::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - var(--button-width, auto));  
    height: 1px;
    background-color: var(--primary-text);
}

@media screen and (max-width: 460px) {
    #searchbardiv::after {
        width: calc(100% - 80px);  
    }
}

@media screen and (max-width: 430px) {
    #searchbardiv::after {
        width: calc(100% - 60px);  
    }
}

@media screen and (max-width: 400px) {
    #searchbardiv::after {
        width: calc(100% - 40px);  
    }
}

@media screen and (max-width: 370px) {
    #searchbardiv::after {
        width: calc(100% - 20px);  
    }
}

#searchbar {
    background-color: rgb(0,0,0,0);
    color: var(--primary-text);
    padding: 6px;
    border: none;
    outline: none;
    font-family: 'Source Code Pro';
    flex: 1;
}

#surpriseme {
    margin-left: auto;
    padding: 6px 12px;
    background-color: transparent;
    color: var(--primary-text);
    border: 1px solid var(--primary-text);
    border-radius: 4px;
    font-family: 'Source Code Pro';
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#surpriseme:hover {
    background-color: rgba(233,27,37, 0.2);
}

#content {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#mainTable {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 60px;
    top: 0px;
    margin-bottom: 20px;
    width: 70%;
}